# Ignorar arquivos de configuração do Visual Studio
.sln
.vs/
*.csproj.user

# Ignorar configurações locais
launchSettings.json
appsettings.json
appsettings.Development.json

# Ignorar pastas de saída e build
bin/
obj/

# Ignorar dependências instaladas via NuGet
packages/


